<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Seatswappr - Swap your seat">
		<meta name="author" content="http://www.danielrosino.com">
		<title>Seatswappr - Coming Soon</title>
		
		<!-- Stylesheets -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="css/bootstrapValidator.min.css" rel="stylesheet">
		<link href="css/ladda-themeless.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Preloader -->
		<div id="preloader">
			<div id="status" class="text-center">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</div>
		</div>
		
		<!-- Main -->
		<section class="main text-center" id="home">
			<div class="page">
				<div class="wrapper">
					<div class="container">
						<img class="img-responsive center-block move-up" src="img/logo/logo2.png" alt="Logo">
						<h1 class="heading">coming soon</h1>
						<p>Tired of the tyranny of assigned seats on planes?  Swap your seat with SeatSwappr!</p>
						<p>Be a part of our beta testing by signing up below with your email and location.</p>
						<!--<div class="row">
							<div id="countdown"></div>
						</div>-->
						<!-- Subscription form -->
						<form class="form-inline signup" action="php/betaForm.php" method="post" role="form" id="betaForm">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email address">
							</div>
							<div class="form-group">
								<input type="name" name="location" class="form-control" placeholder="Location">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-theme ladda-button space" data-style="expand-left"><span class="ladda-label">Join Now!</span></button>
							</div>
						</form>
						<footer class="text-center">
							<div class="social">
								<a href="https://www.facebook.com/SeatSwappr-569912389826468" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/seatswappr" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
							</div>
						</footer>
					</div>
					<div class="arrow-down">
						<a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down" id="red"></i></a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- About -->
		<section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">About</h3>
						<div class="section-title-border red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Oh No!  </strong>You don’t have a seat next to your spouse or your children. 
						You have a middle seat but wanted a window seat? You and your friends can’t gossip because you’re 
						both in different rows? Now what?  
						</p>
						<p class="lead"><strong>Don't Worry!  </strong>SeatSwappr is building a peer to peer seat exchange 
						where you can negotiate a seat swap with other passengers prior to boarding.  We hope to eliminate
						the pre-boarding anxiety of asking a fellow passenger to swap seats.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 pad-50">
						<h3 class="section-title">How it Works</h3>
						<div class="section-title-border red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 feature-box-container">
						<div class="feature-box wow fadeInDown">
							<div class="icon">
								<i class="fa fa-usd"></i>
							</div>
							<div class="description">
								<h4>Sell</h4>
								<p>Passengers who don’t mind swapping will first post their seats for sale on SeatSwappr</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3 feature-box-container">
						<div class="feature-box wow fadeInDown">
							<div class="icon">
								<i class="fa fa-search"></i>
							</div>
							<div class="description">
								<h4>Search</h4>
								<p>Passengers looking for a better seat search for the desired seat(s) for swap on their flight</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3 feature-box-container">
						<div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
							<div class="icon">
								<i class="fa fa-commenting"></i> 
							</div>
							<div class="description">
								<h4>Communicate</h4>
								<p>If you find a seat you want, start the conversation. Send the passenger a request to swap seats</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3 feature-box-container">
						<div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
							<div class="icon">
								<i class="fa fa-retweet"></i>
							</div>
							<div class="description">
								<h4>Swap</h4>
								<p>After the swap details are determined, simply swap seats after boarding with your original boarding pass.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 pad-70">
						<h3 class="section-title">FAQ's</h3>
						<div class="section-title-border red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>What is SeatSwappr?</strong></p>
						<p>SeatSwappr is currently an online marketplace for passengers to sell, search, buy and swap seats. Passengers may 
						want to swap seats for many reasons, such as sitting next to family or friends, window seat, more space, etc. 
						SeatSwappr facilitates that swap by putting passengers in touch with each other.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Can SeatSwappr issue new boarding passes?</strong></p>
						<p>Currently, SeatSwappr cannot issue new boarding passes. That is why we ask passengers to board with their original 
						boarding passes and swap once on the plane. We hope to work with airlines to issue new boarding passes once both 
						parties have agreed.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Will there be a SeatSwappr app? When?</strong></p>
						<p>Yes, SeatSwappr is working towards building an app for Android and iOS. Currently, SeatSwappr does not have a date 
						for the release of the app.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Where is SeatSwappr available?</strong></p>
						<p>SeatSwappr will be available globally.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Why would I want to sell or swap my seat?</strong></p>
						<p>The good karma earned by being comfortable sitting in any seat and wanting to be accommodating to families, friends, and couples.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Can I charge to swap my seat?</strong></p>
						<p>SeatSwappr is actively looking to make this a feature of the site, but for now that would be between you and the other passenger. Stay tuned.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>What are some examples of people looking to swap seats?</strong></p>
						<p>A couple who booked last minute and do not have seats together, a family whose parents and children cannot don’t have seats together, a passenger 
						looking for a window or aisle seat but has a middle seat right now, a passenger who may want a seat with more legroom, or a passenger who wants to sit 
						in the front of the plane to exit faster to catch their connection.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead"><strong>Do airlines let passengers swap seats?</strong></p>
						<p>Yes, as long as both passengers have a issued ticket on the same flight. Seat swaps occur on most flights anyways. Swapping between cabins, such as 
						First Class and Economy, is not allowed, but you can swap within your cabin. If swapping to an exit row, you must meet the needs of the Airlines exit 
						row seating requirements.</p>
					</div>
				</div>				
			</div>
		</section>
		
		<!-- Team -->
		<section id="team" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Our team</h3>
						<div class="section-title-border red"></div>
					</div>
				</div>
			</div>
			<div class="carousel-container">
				<div id="teamCarousel" class="owl-carousel text-center">
					<div class="text-center team-member-container wow fadeInDown">
						<div class="team-member">
							<div class="team-member-img">
								<img src="img/portraits/1.jpg" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Shreyas Parikh</h4>
								<span class="team-member-profession">Founder</span>
								<p>A swapping seats site was his idea.</p>
								<div class="social">
									<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="img/portraits/2.jpg" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<a class="red-link" href="http://www.danielrosino.com"><h4>Daniel Rosino</h4>
								<span class="text-muted team-member-profession">Web Designer</span>
								<p>He made this landing page.</p></a>
								<div class="social">
									<a href="https://www.facebook.com/danielrosinoweb" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/goldyakin" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center team-member-container wow fadeInDown" data-wow-delay="0.4s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="img/portraits/3.jpg" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Gunjan Patel</h4>
								<span class="team-member-profession">Marketing</span>
								<p>Having a landing page was his idea.</p>
								<div class="social">
									<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Contact</h3>
						<div class="section-title-border red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<p><strong>What do you think?</strong> Please let us know if you have any questions.  If you have 
						any suggestions on what you would like to see included in our SeatSwappr web application once it is launched - tell us.
						As you send us the message be sure to shout: <strong>"Power to the plane people!"</strong></p>
						<ul class="list-contacts">
							<!--<li><i class="fa fa-phone"></i></li>
							<li><i class="fa fa-mobile-phone"></i></li>-->
							<li><i class="fa fa-map-marker"></i> New York, New York</li>
							<li><i class="fa fa-envelope-o"></i> <a href="mailto: seatswappr@gmail.com"> seatswappr@gmail.com</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<form class="form-horizontal" action="php/contactForm.php" method="post" role="form" id="contactForm">
							<div class="form-group">
								<div class="col-sm-6">
									<input type="text" name="name" class="form-control" placeholder="Name">	
								</div>
								<div class="col-sm-6">
									<input type="text" name="contactEmail" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
										<span class="ladda-label">Submit</span>
									</button>
								</div>
							</div>
						</form>
					</div>	
				</div>
			</div>
		</section>
		
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.backstretch.min.js"></script>
		<script src="js/jquery.countdown.min.js"></script>
		<script src="js/jquery.tubular.1.0.js"></script>
		<script src="js/bootstrapValidator.min.js"></script>
		<script src="js/validator/emailAddress.js"></script>
		<script src="js/spin.min.js"></script>
		<script src="js/ladda.min.js"></script>
		<script src="js/retina.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/init.js"></script>


									<h3 style="margin-bottom: 30px;">Our Team</h3>
									<div class="carousel-wrapper" style="height: 400px;">
								
									  <span id="target-item-1"></span>
									  <span id="target-item-2"></span>
									  <span id="target-item-3"></span>


									  <div class="carousel-item item-1">
									  <div class="col-sm-6 col-md-4">
									    <div class="thumbnail">
									      <img src="img/portraits/1.jpg" alt="shrey.jpg">
									      <div class="caption">
									        <h3>Shreyas Parikh</h3>
									        <p>A swapping seats site was his idea.</p>
									        <p><a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									        <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a></p>
									      </div>
									     </div>
									     </div>

									    <a class="arrow arrow-prev" href="#target-item-3"></a>
									    <a class="arrow arrow-next" href="#target-item-2"></a>
									  </div>

									  <div class="carousel-item item-2">
									  <div class="col-sm-6 col-md-4">
									    <div class="thumbnail">
									      <img src="img/portraits/2.jpg" alt="dan.jpg">
									      <div class="caption">
									        <h3>Daniel Rosino</h3>
									        <p>He can do wonders with HTML/CSS.</p>
									        <p><a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									        <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a></p>
									      </div>
									    </div>
									    </div>
									    <a class="arrow arrow-prev" href="#target-item-1"></a>
									    <a class="arrow arrow-next" href="#target-item-3"></a>
									  
										</div>

									  <div class="carousel-item item-3">
									  <div class="col-sm-6 col-md-4">
									    <div class="thumbnail">
									      <img src="img/portraits/3.jpg" alt="gp.jpg">
									      <div class="caption">
									        <h3>Gunjan Patel</h3>
									        <p>He has the marketing tips.</p>
									        <p><a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									        <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a></p>
									      </div>
									    </div>
									    </div>
									    <a class="arrow arrow-prev" href="#target-item-2"></a>
									    <a class="arrow arrow-next" href="#target-item-1"></a>
									</div>
								</div>








	</body>
</html>